
<div class="card">
  <%= link_to (link.url) do %>
    <img src="<%= link.image %>" class="card-img" >

  <% end %>
  <h3 class="card-title"> <%= link.title %> </h3>
  <p class="card-text"> <%= link.description %> </p>
  <p class="card-actions">icons</p>
</div>
