
 <% @links.each do |link| %>
  
  <div class="card">
  <%= link_to (link.url) do %>
    

  <% end %>    
    <h3 class="card-title"> <%= link.title %> </h3>
    <p class="card-text"> <%= link.description %> </p>
  </div>

<% end %>







