:root {
--myred: #E34551;
--myblue: #0081FF;
--myblack: #1D1E20;
--myorange: #FFAD00;
--mygreen: #A9B929;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style-type: none;
  text-decoration: none;
  a:hover {
  background: inherit !important;  
  color: black !important;
  }
  }
  
.add-btn {
    display: inline-block;
}
.button {        
          border-left:none;
          border-right:none;
          border-top: none;
          border-radius: 8px;
          margin-top: 10px;
          padding: 12px 20px;
          font-size: 18px;
          font-weight: 700;
          color: white;
          white-space: nowrap;
        }

.header {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-around;
  background-color: var(--myblue) ; 
  padding: 15px;
    
  .logo {
    margin: 5px;
    background-image: url("http://github.com/mkezmkez/linko-app/blob/development/app/assets/images/logo-linko.png?raw=true");
    height: 70px;
    width: 180px;
    background-position: center;
    background-size: cover;
    }
  }
  .navbar {
  
    .add-url {
      justify-content: center;
      
      .input {
        width: 500px;
        margin-top:10px;
        height: 55px;
        border-radius: 8px;
        font-size: 18px;
        padding: 10px;
      }
      .buttons {
        display: flex;
        justify-content: space-between;
                
        .add {
          background-color: rgba(0,0,0,0);
          border: none;
        }
        .high {
          background-color: var(--myred);
          border-bottom: solid #B61B27 5px;
        }
        .med {
          background-color: var(--myorange);
          border-bottom: solid #E89300 5px;
        }
        .low {
          background-color: var(--mygreen);
          border-bottom: solid green 5px;
        }

      }
    
    }
  }

.sign-out.sign-out {
  width: 10%;
  font-size: 17px;
  font-weight: 700;
  color: white;
  background-color: rgba(250,250,250,.2);
  height: 50px;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
}


.container {
  display: grid;
  grid-template-columns: 3fr 10fr;
  
  .sidebar {
   grid-column: 1 / 2;
   background-color: var(--myblack);
    form {   
      margin-top: 20px 0;
     .search {
        height: 2rem;
        width: 10rem;
        border-radius: .4rem;
        font-size: .9rem;
        padding: 1rem;
        border: none;
        margin: .5rem 0 .5rem .5rem;
      }
      .go.go.go {
        background-color: var(--myblue);
        height: 2rem;
        border-bottom: solid blue;
        padding: 0 10px;
      }
     }
    .show {
      color: white;
      margin: 20px 0 10px 10px;
      
      .title {
        padding: 10px 0 0 0;
        font-weight: 700
      }
      li {
        padding: 10px 5px;
      }
      a { 
        color: var(--myblue);
        font-weight: 700
      }
      .add-btn button {
        background-color: var(--myred);
        border:none;
        border-radius: 3px;
        color: white;
        padding: 3px;
        font-size: 10px;
        position: relative;
        bottom: 3px;
        left: 7px;
      }
    }
    }
  
  .main {
    grid-column: 2 / 3;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-template-rows: repeat(auto-fit, minmax(100px,200px));

    .card {
      display: grid;
      grid-template-columns: 1fr 16fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      margin: 20px 30px 0 30px;
      border: 1px solid lightgray;
      
      
        .card-img {
          display: block;
          grid-column: 1 / 2;
          grid-row: 1 / -1;
          align-self: center;

          width: 35px;
          height: auto;
          border: 1px solid lightgray;
          border-radius: 30px;
          background-color: white;
          position: relative;
          right: 18px;
        }
      
      .card-title {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        font-size: calc(2px + 1vw);
        padding: 5px;
      }
      .card-text {
        font-family: 'B612 Mono', monospace;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        font-size: calc(2px + .9vw);
        padding: 5px;
        line-height: 1.4;
      }

      .card-actions {
        display: grid;
        grid-column: 2 / 3;
        grid-row: 3 / 4;
      }
    }
  }
}