<header class="header">
  <div class="logo">
  </div>
  <nav class="navbar">
    <form action="post" class="add-url">
      <input class="input" placeholder="Paste your link here" type="text">
      <div class= "buttons">
        <button class="button add"> Add link:</button>
      <button class="button high">for now </button> 
      <button class="button med"> for later</button>
      <button class="button low"> for later-er </button>
      </div>
    </form>
  
  </nav>
    <button class="button sign-out">Sign out</button>
</header>