  <aside class="sidebar">
  <form>
    <input type="text" placeholder="Search" class="search">
    <input type="submit" value="Go" class="button go">
  </form>
   <div class="show">
     <span class="title">My Links<span>
     <ul>     
     <li><a href="#"> Links for Now</a></li>
     <li><a href="#"> Links for Later</a></li>
     <li><a href="#"> Links for Later-er</a></li>
     </ul>
    </div>
    
   <div class="show">
     <span class="title">My Sessions</span> <span class="add-btn"><button>Add New</button> </span>
     <ul>     
     <li><a href="#"> Work</a></li>
     <li><a href="#"> Study</a></li>
     <li><a href="#"> Play</a></li>
     <li><a href="#"> Read</a></li>
     <li><a href="#"> Chill</a></li>
     </ul>
    </div>
  </aside>
